
.home{
    background-color: $secondery--color;
    .wrapper{
        
        .header{
            width: 100%;
            // height: 100vh;
            
            .container{
                margin-top: 4.4rem;
                margin-bottom: 6.4rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                    
                .header__logo{
                    a{
                        display: flex;
                        .logo{
                            width: 5rem;
                            height: 5rem;
                            background-color: $primary--color;
                            border-radius: 50%;
                            margin-right: 1.5rem;
                        }
                        .logo-name{
                            text-align:center
                        }
                    }
                }
                .header__menu{
                    .menu-list{
                        display: flex;
                        align-items: center;
                        // justify-content: space-between;
                        .menu-item{
                            margin: 0 2.5rem;
                            a{
                                color: $text--color;
                                transition: 0.25s ease;
                            }
                            a:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .header__btn{
                    a{
                        .btn-head{
                            padding: 1rem 2.5rem;
                            transition: 0.25s ease;
                        }
                        .btn-head:hover{
                            background-color: $secondery--color;
                            color: $primary--color;
                        }
                    }
                }
                
            }
        }
    }
}
section.hero{
    margin-bottom: 25.6rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .hero-content{
            .hero-name{
                margin-bottom: 2rem;
            }
            .hero-text{
                margin-bottom: 4rem;
                max-width: 50rem;
                font-weight: 400;
                line-height: 3.6rem;
                font-size: 2.2rem;
            }
            .hero-btn{
                a{
                    margin-right: 2rem;
                    .btn-ser{
                        padding: 2rem 2.9rem 1.9rem 2.6rem;
                        transition: 0.25s ease;
    
                    }
                    .btn-ser:hover{
                        background-color: $secondery--color;
                        color: $primary--color;
                    }
                }
                a{
                    .btn-about{
                        padding: 2rem 5.8rem 1.9rem 4.9rem;
                        background-color: $secondery--color;
                        color: $primary--color;
                        transition: 0.25s ease;
    
                    }
                    .btn-about:hover{
                        background-color: $primary--color;
                        color: $back--color;
                    }
                }
            }
        }
    
        .hero-images{
            max-width: 63.05rem;
           .img-top{
                display: inline-flex;
                margin: 0 auto;
                margin-bottom: 4.139rem;
                .img1{
                    width:16.061rem;
                    height: 15.989rem;
                    margin-right: 3.638rem;
                    margin-top: 8.885rem;
                }
                .img2{
                    width: 249.46px;
                    height: 248.33px;
                    margin-right: 3.366rem;
                }
                .img3{
                    width: 128.69px;
                    height: 128.11px;
                    margin-top: 12.077rem;
                }
           }
           .img-bottom{
                display: inline-flex;
                .img4{
                    width: 342.92px;
                    height: 342.46px;
                }
                .img5{
                    width: 209.44px;
                    height: 208.49px;
                    margin-left: 3.318rem;
                }
           }
        }
    }
}
.services{
    margin-bottom: 27.6rem;
    .container{
        .ser-title{
            text-align: center;
            margin-bottom: 6rem;
        }
        .ser-cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card-ser{
                width: 36.667rem;
                border-radius: 5px;
                padding: 5rem;
                .card-icon{
                    width: 7rem;
                    height: 7rem;
                    background-color: $primary--color;
                    color: $back--color;
                    border-radius: 5px;
                    padding: 10px;
                    gap: 10px;
                    text-align: center;
                    box-shadow: 3px 7px 10px 0 $primary--color;
                    margin-bottom: 2rem;
                    i{
                        margin-top: 1rem;
                        font-size: 3rem;
                    }
                }
                .card-title{
                    margin-bottom: 1rem;
                }
                .card-text{}
            }
        }
    }    
}
.partners-about{
    .container{
        .partners{
            max-width: 60rem;
            margin: 0 auto;
            margin-bottom: 6rem;
            .part-list{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .part-item{

                    a{
                        color: $primary--color;
                        i{
                            font-size: 5rem;
                        }
                    }
                }
            }
        }
        .about{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 52.4rem;
            margin-bottom: 25.6rem;
            img{
                width: 50rem;
                height: 37.5rem;
                margin: 6rem 0rem 6rem 5rem;
            }
            .about__text{
                width: 54rem;
                padding: 2rem;
                .text-about{
                    color: $about--color;
                    // margin: 2rem;
                    margin-bottom: 2rem;
                }
                .title-about{
                    margin-bottom: 2rem;
                }
                .text-lorem{
                    margin-bottom: 4rem;
                }
            }
        }
    }
}
.projects{
    margin-bottom: 25.6rem;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pro-text{
            margin-left: 6rem;
            .title-pro{
                color: $about--color;
                margin-bottom: 2rem;
            }
            .content-pro{
                margin-bottom: 2rem;

            }
            .text-pro{
                margin-bottom: 4rem;
                max-width: 50rem;
            }
        }
        .pro-images{
            display: inline-flex;
            max-width: 54rem;
            .img-left{
                margin-right: 3rem;
                .pro-img1{
                    width: 23.2rem;
                    height: 20.5rem;
                    margin-bottom: 2.9rem;
                    margin-top: 9.7rem;
                    margin-left: 1.7rem;
                }
                .pro-img2{
                    width: 19.4rem;
                    height: 26rem;
                    margin-left: 5.5rem;
                }
            }
            .img-right{
                .pro-img3{
                    width: 24.3rem;
                    height: 33.1rem;
                    margin-bottom: 3rem;
                }
                .pro-img4{
                    width: 21.5rem;
                    height: 13.5rem;
                }
            }
        }
    }
}
.socials{
    margin-bottom: 25.6rem;
    .container{
        .soc-text{
            text-align: center;
            color: $about--color;
            margin-bottom: 2rem;
        }
        .soc-name{
            text-align: center;
            margin-bottom: 4rem;
        }
        .soc-images{
            max-width: 105.5rem;
            margin: 0 auto;
            // float: left;
            .soc-img{
                // display: inline;
                width: 32.8rem;
                height: 27.8rem;
                margin: 1rem;
            }
        }
    }
}
.contact{
    margin-bottom: 25.6rem;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .vertical-container{
            .text-container{
                color: $about--color;
                margin-bottom: 2rem;
            }
            .name-container{
                margin-bottom: 11rem;
            }
            .span-container{
                display: flex;
                margin-bottom: 3rem;
                align-items: center;
                i{
                    width: 7rem;
                    height: 7rem;
                    background-color: #E1EBFA;
                    color: $primary--color;
                    font-size: 3rem;
                    text-align: center;
                    padding-top: 2rem;
                    border-radius: 5px;
                    margin-right: 3.778rem;
                }
                .text-span{
                    max-width: 20.2rem;
                    b{
                        font-weight: 700;
                    }
                }
            }
        }
        .input-container{
            width: 47.597rem;
            padding: 5.2rem 4.101rem 3.5rem 4.1rem;
            // margin-bottom: 25.6rem;
            .input-name-email{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 2.8rem;
                .input-name{
                   .inp-text{
                    width: 18.658rem;
                   }
                }
            }
            .input-sub{
                margin-bottom: 2.8rem;
                input{
                    width: 39.151rem;
                }
            }
            .input-mess{
                margin-bottom: 2.8rem;
                input{
                    width: 39.151rem;
                    height: 13rem;
                }
            }
            .btn-contact{
                width: 39.151rem;
            }
        }
    }
}
.footer{
    background-color: $primary--color;
    height: 43rem;
    .container{
        display: flex;
        // align-items: center;
        justify-content: space-between;
        .foot-buildit{
            max-width: 28.8rem;
            margin-top: 8.5rem;
            
            h2{
                margin-bottom: 1.4rem;
                color: $back--color;

            }
            p{
                color: $back--color;
                line-height: 10rem;
                a{
                    text-decoration: underline;
                    color: $back--color;

                }
            }
        }
        .foot-service{
            margin-top: 9rem;

            .item{
                margin-bottom: 0.6rem;


                a{
                    color: $back--color;
                }
            }
            .link{
               
                a{
                    height: 4rem;
                    width: 4rem;
                    display: inline-block;
                    border-radius: 4px;
                    background-color: $text--color;
                    color: $back--color;
                    margin-right: 2rem;
                    text-align: center;

                    i{
                        font-size: 2rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
        .foot-menu{
            margin-top: 9rem;

            li{
                margin-bottom: 0.6rem;

                a{
                    color: $back--color;
                }
            }
        }
        .foot-info{
            max-width: 25rem;
            margin-top: 9rem;

            p{
                color: $back--color;
                margin-bottom: 0.6rem;
            }
            .text-info{
                margin-bottom: 6.5rem;
            }
        }
    }
}