:root{
    -primary--color: #486A6F;
    -text--color: #678C92;
    -secondery--color: #C6DBFF;
    -back--color: #F4F7FF;
}
html{
    font-size: 62.5%;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a{
    text-decoration: none;
    color: transparent;
}
li{
    list-style: none;
}
img{
    width: 100%;
    background-size: cover;
}
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(-text--color);
}
// 1440px 1170px (padding : 20px)
.wrapper{
    max-width: 144rem;
    margin: 0 auto;
}
.container{
    max-width: 121rem;
    padding-top: 2rem;
    margin: 0 auto;
}
h1{
    font-family: 'Noto sans', sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 7.2rem;
    color: var(-primary--color);
}
h2{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(-primary--color);
}
p{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3.2rem;
    color: var(-primary--color);
}
.btn{
    padding: 1.5rem 7.1rem;
    background-color: var(-primary--color);
    color: var(-back--color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
}